<div class="container">
  <div class="pagination-wrap">
    {{#if isPrevButtonVisible}}
    <a class="prev-page-link page-link" href="?searchText={{textInput}}&page={{prevPageNumber}}">
    </a>
    {{/if}}
    <div class="page-text">
      <p>Page <strong>{{currentPage}}</strong> of {{totalPage}}</p>
    </div>
    {{#if isNextButtonVisible}}
    <a class="next-page-link page-link" href="?searchText={{textInput}}&page={{nextPageNumber}}">
    </a>
    {{/if}}
  </div>
</div>